.personagem__container {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.personagem__buttons {
  display: flex;
  justify-content: space-around;
}
.personagem__buttons button {
  background-color: #25a789;
  border: none;
  color: white;
  width: 100%;

  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
.personagem__buttons a {
  display: flex;
  background-color: #414bb2;
  border: none;
  text-decoration: none;
  color: white;
  width: 100%;
  margin: 0 0.5rem 0 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
  cursor: pointer;
}

.personagem__card {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.personagem__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 0.2rem;

}
.personagem__name {
  font-size: 2rem;
  margin-top: 1rem;
  font-weight: bolder;
  border-left: 0.5rem solid blue;
  padding-left: 0.5rem;
  color: #3359ec;
  border-radius: 0.2rem;
}

.personagem__inner img {
  width: 6rem;
  box-shadow: 0 0 5px grey;
  border-radius: 0.5rem; 
}

.personagem__origem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #f4f4f4;
  border-left: 1rem solid #f4f4f4;;
  border-radius: 0.5rem;
  margin-left: 0.2rem;
  box-shadow: 0 0 5px grey;
}

.person__innerAll {
  display: flex;
  margin-top: 1rem;

  justify-content: space-around;
}
